@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    background: #f4f4f4;
    color: #181818;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* main */
main {
    max-width: 830px;
    margin: auto;
    background: #fff;
    box-shadow: 10px 5px 20px rgba(172, 172, 172, 0.5),
        -10px 5px 20px rgba(172, 172, 172, 0.5);
    border-radius: 3px;
}

/* landing page */
#landing-page {
    display: flex;
}

#landing-page-text {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

#landing-page-text h1 {
    font-weight: 400;
}

#landing-page-text h2 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #9d8189;
}

#landing-page-text .btn {
    display: inline-block;
    background: #ffe5d9;
    color: #181818;
    padding: 0.5rem 1.2rem;
    margin: 1rem 0;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

#landing-page-text .btn:hover {
    background: #d8e2dc;
}

#landing-page-showcase {
    background: url('../img/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    flex: 1;
}

/* images area */
#images #about {
    background: #9d8189;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

#images #about h2 {
    font-weight: 400;
}

#images .description {
    text-align: center;
    padding: 1rem 0;
}

/* footer */
footer {
    text-align: center;
    padding: 2.2rem 0;
}

footer h3 {
    font-weight: 400;
    font-size: 1.2rem;
}

@media(max-width:700px) {
    #landing-page {
        display: block;
    }

    #landing-page-text,
    #landing-page-showcase {
        height: 50vh;
    }
}